@model List<CategoryModel>
@{
    int index = 0;
    int counter = 0;
}
@* @foreach (var category in Model)
{
    <div class="col-md-3 col-lg-3 ">
        <div id="carouselId-@index" class="carousel slide position-relative" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                @foreach (var product in category.Products)
                {
                    if (counter == 0)
                    {
                        <div class="carousel-item rounded text-center active">
                            <img src="@Jobs.ImageRoute/@product.SmallImage" class="img-fluid w-75 h-100 rounded" alt="Slide @(index + 1)">
                            <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id" class="btn px-4 py-2 text-white rounded">@product.Title</a>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item rounded text-center">
                            <img src="@Jobs.ImageRoute/@product.SmallImage" class="img-fluid w-75 h-100 rounded" alt="Slide @(index + 1)">
                            <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id" class="btn px-4 py-2 text-white rounded">@product.Title</a>
                        </div>
                    }
                    counter++;
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselId-@index" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselId-@index" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    index++;
    counter = 0;
} *@



<style>
    h1 {
        text-align: center;
        margin: 3rem 0;
    }

    li {
        list-style: none;
    }

    body {
        box-sizing: border-box;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .wiper-track {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 1.5rem;
        margin: 0 auto;
        transition: transform 0.4s ease-in;
        padding: 0 1rem;
    }

    .wiper-item {
        width: 200px;
        height: 300px;
        position: relative;
        transition: scale 0.2s linear;
    }

    .wiper-button img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .wiper {
        max-width: 960px;
        position: relative;
        margin: 0 auto;
    }

    .active-swipe {
        transform: scale(1.1);
    }

    .wiper-button {
        margin: 0 1rem;
        height: 70px;
        width: 45px;
        position: absolute;
        top: 50%;
        background: transparent;
        border: none;
        transform: translateY(-50%);
        z-index: 1;
    }

    .wiper-button__left {
        right: 0;
        transform: translateY(-50%) rotate(180deg);
    }

    .wiper__image-button {
        right: 50%;
        top: 50%;
        position: absolute;
        padding: 0.8rem 1rem;
        border-radius: 3px;
        background-color: white;
        border: none;
        font-size: 1.4rem;
        transform: translateY(-50%) translateX(50%);
        cursor: pointer;
    }

    .wiper-wrapper {
        max-width: 660px;
        overflow: hidden;
        padding: 2rem 0.5rem;
        margin: 0 auto;
    }

    .swiper__image-button {
        right: 50%;
        top: 95%;
        position: absolute;
        padding: 0.8rem 1rem;
        border-radius: 3px;
        background-color: #ffb524;
        border: none;
        font-size: 1rem;
        transform: translateY(-50%) translateX(50%);
        cursor: pointer;
    }

        .swiper__image-button:hover {
            color: red;
        }

    .wiper__image {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    .is-hidden {
        display: none;
    }
</style>

<div class="wiper">
    <button class="wiper-button wiper-button__right">
        <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="left" />
    </button>

    <div class="wiper-wrapper">
        <ul class="wiper-track">
            @foreach (var category in Model)
            {
                if (index == 0)
                {
                    <li class="wiper-item active-swipe">
                        <img class="wiper__image"
                             src="@Jobs.ImageRoute/@category.Image"
                             alt="background-image" />
                        <button class="swiper__image-button">Click me</button>
                    </li>
                }
                else
                {
                    <li class="wiper-item">
                        <img class="wiper__image"
                             src="@Jobs.ImageRoute/@category.Image"
                             alt="background-image" />
                        <button class="swiper__image-button">Click me</button>
                    </li>
                }
            }
        </ul>
    </div>
    <button class="wiper-button wiper-button__left">
        <img src="https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png" alt="right" />
    </button>
</div>
<script>
    const wiperTrack = document.querySelector(".wiper-track");
    const wipes = Array.from(wiperTrack.children);
    const wipePrevBtn = document.querySelector(".wiper-button__right");
    const wipeNextBtn = document.querySelector(".wiper-button__left");
    const wipeWidth = wipes[0].getBoundingClientRect().width;

    const arrowsBehaviour = (wipePrevBtn, wipeNextBtn, index) => {
        if (index === 0) {
            wipePrevBtn.classList.add("is-hidden");
            wipeNextBtn.classList.remove("is-hidden");
        } else if (index === wipes.length - 1) {
            wipePrevBtn.classList.remove("is-hidden");
            wipeNextBtn.classList.add("is-hidden");
        } else {
            wipePrevBtn.classList.remove("is-hidden");
            wipeNextBtn.classList.remove("is-hidden");
        }
    };

    const wipeSlide = (wiperTrack, activeSlide, nextSlide, targetIndex) => {
        wiperTrack.style.transform =
            "translateX(-" + (wipeWidth + 24) * (targetIndex - 1) + "px)";
        activeSlide.classList.remove("active-swipe");
        activeSlide.style.transform = "scale(1)";
        nextSlide.classList.add("active-swipe");
        nextSlide.style.transform = "scale(1.1)";
    };

    wipeNextBtn.addEventListener("click", (e) => {
        const activeSlide = wiperTrack.querySelector(".active-swipe");
        const nextSlide = activeSlide.nextElementSibling;
        const targetIndex = wipes.findIndex((slide) => slide === nextSlide);
        wipeSlide(wiperTrack, activeSlide, nextSlide, targetIndex);
        arrowsBehaviour(wipePrevBtn, wipeNextBtn, targetIndex);
    });
    wipePrevBtn.addEventListener("click", (e) => {
        const activeSlide = wiperTrack.querySelector(".active-swipe");
        const nextSlide = activeSlide.previousElementSibling;
        const targetIndex = wipes.findIndex((slide) => slide === nextSlide);
        wipeSlide(wiperTrack, activeSlide, nextSlide, targetIndex);
        arrowsBehaviour(wipePrevBtn, wipeNextBtn, targetIndex);
    });

</script>
