@model NavbarModel
<div class="container-fluid fixed-top">
    <div class="container topbar bg-primary d-none d-lg-block">
        <div class="d-flex justify-content-between">
            <div class="top-info ps-2">
                <small class="me-3"><i class="fas fa-map-marker-alt me-2 text-secondary"></i> <a href="#" class="text-white">123 Street, New York</a></small>
                <small class="me-3"><i class="fas fa-envelope me-2 text-secondary"></i><a href="#" class="text-white">Email@Example.com</a></small>
            </div>
        </div>
    </div>
    <div class="container px-0">
        <nav class="navbar navbar-light bg-white navbar-expand-xl">
            <a href="/" class="navbar-brand"><h1 class="text-primary display-6">Midilli Harun</h1></a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse bg-white" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Anasayfa</a>
                    <a asp-controller="Product" asp-action="ProductList" class="nav-item nav-link">Ürünler</a>
                    @foreach (var pages in Model.Pages)
                    {
                        @if (pages.InnerPages.Count > 0)
                        {
                            <div class="nav-item dropdown">
                                <a asp-controller="Page" asp-action="GetPage" asp-route-id="@pages.Id" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@pages.Name</a>
                                <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                    @foreach (var item in pages.InnerPages)
                                    {
                                        <a asp-controller="InnerPage" asp-action="GetInnerPage" asp-route-id="@item.Id" class="dropdown-item">@item.Name</a>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <a asp-controller="Page" asp-action="GetPage" asp-route-id="@pages.Id" class="nnav-item nav-link">@pages.Name</a>
                        }
                    }
                    @foreach (var category in Model.Categories.Where(c => c.IsActive))
                    {
                        <div class="nav-item dropdown">
                            <a asp-controller="Category" asp-action="GetCategory" asp-route-id="@category.Id" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">@category.Name</a>
                            <div class="dropdown-menu m-0 bg-secondary rounded-0">
                                @foreach (var product in category.Products?.Where(p => p.IsActive))
                                {
                                    <a asp-controller="Product" asp-action="GetProduct" asp-route-id="@product.Id" class="dropdown-item">@product.Title</a>
                                }
                            </div>
                        </div>
                    }

                </div>
                <div class="d-flex m-3 me-0">
                    <button class="btn-search btn border border-secondary btn-md-square rounded-circle bg-white me-4" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fas fa-search text-primary"></i></button>
                    
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="my-auto">
                        <i class="fas fa-user fa-2x"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>