@model InnerPageModel
<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop Detail</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item active text-white">Shop Detail</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            @* <div class="col-lg-8 col-xl-9"> *@
            <div >
                <div class="row g-4">
                    <div class="col-lg-5">
                        <div class="border rounded">
                            <a href="#">
                                <img src="@Jobs.ImageRoute/@Model.Image" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h4 class="fw-bold mb-3">@Model.Name</h4>
                        <p class="mb-3">Category: Vegetables</p>
                        <h5 class="fw-bold mb-3">3,35 $</h5>
                        <p class="mb-4">@Model.ShortContent</p>
                        <a href="@Model.Url" class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-primary" target="_blank"><i class="fa fa-shopping-bag me-2 text-primary"></i> Satın Al</a>
                    </div>
                    @if (Model.ImageGalleries.Count > 0)
                    {
                        <div class="col-lg-4">
                            <div class="swiper-container slider">
                                <div class="swiper-wrapper">
                                    @foreach (var imageGalery in Model.ImageGalleries.Where(ig => ig.IsActive))
                                    {
                                        foreach (var image in imageGalery.Images.Where(i => i.IsActive))
                                        {
                                            <div class="swiper-slide"><img src="@Jobs.ImageRoute/@image.Url" alt=""></div>
                                        }
                                    }
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                            <div class="swiper-container slider-thumbnail">
                                <div class="swiper-wrapper">
                                    @foreach (var imageGalery in Model.ImageGalleries.Where(ig => ig.IsActive))
                                    {
                                        foreach (var image in imageGalery.Images.Where(i => i.IsActive))
                                        {
                                            <div class="swiper-slide"><img src="@Jobs.ImageRoute/@image.Url" alt=""></div>
                                        }
                                    }
                                </div>
                            </div>

                        </div>
@*                         <!-- スライダー -->
                        <div class="swiper-container slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample010.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample005.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample012.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample007.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample008.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample009.jpg" alt=""></div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                        <!-- サムネイル -->
                        <div class="swiper-container slider-thumbnail">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample010.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample005.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample012.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample007.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample008.jpg" alt=""></div>
                                <div class="swiper-slide"><img src="//into-the-program.com/demo/images/sample009.jpg" alt=""></div>
                            </div>
                        </div> *@

                    }
                    <div class="col-lg-12">
                        <nav>
                            <div class="nav nav-tabs mb-3">
                                <button class="nav-link active border-white border-bottom-0" type="button" role="tab"
                                        id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
                                        aria-controls="nav-about" aria-selected="true">
                                    Açıklama
                                </button>
                            </div>
                        </nav>
                        <div class="tab-content mb-5">
                            <div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                                <p>
                                    @Model.Contents
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Benzer Ürünler</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                <div class="border border-primary rounded position-relative vesitable-item">
                    <div class="vesitable-img">
                        <img src="img/vegetable-item-6.jpg" class="img-fluid w-100 rounded-top" alt="">
                    </div>
                    <div class="text-white bg-primary px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">Vegetable</div>
                    <div class="p-4 pb-0 rounded-bottom">
                        <h4>Parsely</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod te incididunt</p>
                        <div class="d-flex justify-content-between flex-lg-wrap">
                            <p class="text-dark fs-5 fw-bold">$4.99 / kg</p>
                            <a href="#" class="btn border border-secondary rounded-pill px-3 py-1 mb-4 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->
@section Scripts {
    <script>
        //サムネイル
        var sliderThumbnail = new Swiper('.slider-thumbnail', {
            slidesPerView: 4,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });

        //スライダー
        var slider = new Swiper('.slider', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            thumbs: {
                swiper: sliderThumbnail
            }
        });
    </script>
}